.form {
  width: 700px;
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}

.image-link-form button {
  border-radius: 0 0.25rem 0.25rem 0;
}

.image-link-form input,
.image-link-form input:focus {
  border-radius: 0.25rem 0 0 0.25rem;
  border: none;
  outline: none;
  color: black;
}
